* {
  box-sizing: border-box;
}

body {
  background: #301F1B;
  color: #4E312B;
  font-family: 'Gabriela', serif;
}

.container {
  width: 80vw;
  min-width: 550px;
  margin: 50px auto 0;
  padding: 20px;
  background: #F3E5B6;
  text-align: center;
  border: 2px solid #4E312B;
}

h1 {
  margin: 0 0 40px;
  text-decoration: underline;
  font-size: 3rem;
}

h2 {
  margin-bottom: 0;
}

button {
  height: 50px;
  background: #F3E5B6;
  border: 2px solid #4E312B;
  border-radius: 5px;
  color: #4E312B;

}

input {
  height: 50px;
  background: #F3E5B6;
  color: #4E312B;
  border: 2px solid #4E312B;
  border-radius: 5px;
  text-align: center;
}

input::-webkit-input-placeholder {
  opacity: 1;
  color: #4E312B;
}

input::-moz-placeholder {
  opacity: 1;
  color: #4E312B;
}

input::-ms-input-placeholder {
  opacity: 1;
  color: #4E312B;
}

.criticalFailure {
  color: #7F2017;
}

.criticalHit {
  color: #005301;
}
